extends layout.pug

block content
	ol.breadcrumb
		li.breadcrumb-item.active Home
	.jumbotron
		h2 Compare UX for 3 Popular Payment Processors
		ol
			li
				a(href="/paypal") PayPal
			li
				a(href="/braintree") Braintree
