body {
	font-size: 18px;
}

ol {
	margin-top: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.warning {
	color: #960000;
}

.status-img {
	margin-left: 20%;
	margin-bottom: 10px;
}

.description {
	margin-top: 20px;
	margin-bottom: 50px;
}

.has-error {
	color: #D40000;
}
