extends ../layout

block content
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/") Home
		li.breadcrumb-item
			a(href="/braintree") Braintree
		li.breadcrumb-item.active Result
	.container
		.row
			.col-12
				img(src="/images/success.svg" class="status-img")
				h1 Payment Success
				p.description Transaction Id: #{txn_id}
		.row
			.col-12
				a(href="/braintree") Make another Braintree payment
