extends ../layout

block content
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/") Home
		li.breadcrumb-item
			a(href="/stripe") Stripe
		li.breadcrumb-item.active Result
	.container
		.row
			.col-12
				img(src="/images/success.svg" class="status-img")
				h1 Payment Success
				p.description Charge Id: #{charge_id}
		.row
			.col-12
				a(href="/stripe") Make another Stripe payment
