extends ../layout.pug

block content
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/") Home
		li.breadcrumb-item.active PayPal
	.jumbotron
		h2 Paypal Payment (#{mode})
		ul
			li NodeJS with paypal-rest-sdk NPM
			li Input amount and/or description
			li Click <kbd>Pay with PayPal</kbd> button
			li Auto redirect to PayPal and input PayPal account
			li You can use this Paypal Test Account: tester8@test.com, password: 00000000
			li If payment successful, it redirects to Payment Successful page. Otherwise it redirects to Payment Failure page.

	form(action="/paypal/submit" method="POST")
		.form-group
			label(for="amount") Amount to pay in USD (1 - 9, default 1)
			input(id="amount" class="form-control col-4" type="number" name="amount" value="1" min="1" max="9")
		.form-group
			label(for="description") Payment description
			input#description.form-control(type="text" name="description" maxlength="100" placeholder="Optional")
		button(class="btn btn-primary btn-lg" type="submit") Pay with PayPal
