extends ../layout.pug

block content
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/") Home
		li.breadcrumb-item
			a(href="/paypal") PayPal
		li.breadcrumb-item.active Payment return
	.jumbotron
		h2 Paypal Payment Success
		ul
			li paymentId = #{paymentId}
			li token = #{token}
			li PayerID = #{PayerID}
	a(href="/paypal" role="button" class="btn btn-primary") Make another new payment